<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/teatro.css">
</head>

<body>
    <header>
        <nav>
            <button class="nav_button">SHOWS</button>
            <button class="nav_button">SOBRE NOSOTROS</button>
            <button class="nav_button">CARNAVAL VENECIANO</button>
            <button class="nav_button">FOTOS Y VIDEOS</button>
            <button class="nav_button">CONTACTO</button>
        </nav>
    </header>
    <main>
        <section class="proxima_fecha">
            <div class="fecha">
                <p class="dia">26</p>
                <p class="mes">de Julio</p>
            </div>
            <div class="img_y_texto_container">
                <div class="img_fecha_container">
                    <img class="img_fecha" src="https://placehold.co/600x400">
                </div>
                <div class="info_fecha">
                    <p class="titulo_fecha">Titulo</p>
                    <a href="https://www.google.com/maps" target="_blank"><p class="ubicacion_fecha">Ubicacion</p></a>
                </div>
            </div>

            <div class="fecha_buttons">
                <button class="compra_button">Comprar Ticket</button>
            </div>
        </section>
                <section class="proxima_fecha">
            <div class="fecha">
                <p class="dia">26</p>
                <p class="mes">de Julio</p>
            </div>
            <div class="img_y_texto_container">
                <div class="img_fecha_container">
                    <img class="img_fecha" src="https://placehold.co/600x400">
                </div>
                <div class="info_fecha">
                    <p class="titulo_fecha">Titulo</p>
                    <a href="https://www.google.com/maps" target="_blank"><p class="ubicacion_fecha">Ubicacion</p></a>
                </div>
            </div>

            <div class="fecha_buttons">
                <button class="compra_button">Comprar Ticket</button>
            </div>
        </section>
                <section class="proxima_fecha">
            <div class="fecha">
                <p class="dia">26</p>
                <p class="mes">de Julio</p>
            </div>
            <div class="img_y_texto_container">
                <div class="img_fecha_container">
                    <img class="img_fecha" src="https://placehold.co/600x400">
                </div>
                <div class="info_fecha">
                    <p class="titulo_fecha">Titulo</p>
                    <a href="https://www.google.com/maps" target="_blank"><p class="ubicacion_fecha">Ubicacion</p></a>
                </div>
            </div>

            <div class="fecha_buttons">
                <button class="compra_button">Comprar Ticket</button>
            </div>
        </section>
                <section class="proxima_fecha">
            <div class="fecha">
                <p class="dia">26</p>
                <p class="mes">de Julio</p>
            </div>
            <div class="img_y_texto_container">
                <div class="img_fecha_container">
                    <img class="img_fecha" src="https://placehold.co/600x400">
                </div>
                <div class="info_fecha">
                    <p class="titulo_fecha">Titulo</p>
                    <a href="https://www.google.com/maps" target="_blank"><p class="ubicacion_fecha">Ubicacion</p></a>
                </div>
            </div>

            <div class="fecha_buttons">
                <button class="compra_button">Comprar Ticket</button>
            </div>
        </section>
                <section class="proxima_fecha">
            <div class="fecha">
                <p class="dia">26</p>
                <p class="mes">de Julio</p>
            </div>
            <div class="img_y_texto_container">
                <div class="img_fecha_container">
                    <img class="img_fecha" src="https://placehold.co/600x400">
                </div>
                <div class="info_fecha">
                    <p class="titulo_fecha">Titulo</p>
                    <a href="https://www.google.com/maps" target="_blank"><p class="ubicacion_fecha">Ubicacion</p></a>
                </div>
            </div>

            <div class="fecha_buttons">
                <button class="compra_button">Comprar Ticket</button>
            </div>
        </section>
    </main>
</body>

</html>